.scrollbar {
  height: 485px;
  overflow: auto;
}

.scrollbars {
  height: 500px;
  overflow: auto;
  margin-top: 5px;
}

.scrollbar1::-webkit-scrollbar {
  width: 14px;
}
.scrollbar1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}
.scrollbar1::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #000099;
}
